/* Reset */
html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%; 
  -ms-text-size-adjust: 100%; }
}
* {
   -moz-box-sizing: border-box;
    box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	font-size: 16px;
	font-family:  'Open Sans', sans-serif;
}
ol, ul {
	list-style: none;
	padding: 0;
	margin: 0;
}
li {
	padding: 0;
	margin: 0;
}
blockquote, q {
	quotes: none;
	font-size: 18px;
	line-height: 1.6em;
	font-style: italic;
	font-weight: bold;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
h1 {font-size: 32px;}
h2 {font-size: 24px;}
h3 {font-size: 18px;}
h4 {font-size: 16px;}
h5 {font-size: 14px;}
h6 {font-size: 12px;}
p {
	font-size: 16px;
	line-height: 1.6em;
	color: #333;
}
a {
   text-decoration: none;
   color: #666;
}
a:visited {
	color: #777;
}
p a {
  color: #4286f4;
}
p a:visited {
  color: #999;
}


/* media queries */
@media (max-width: 768px) {
  nav, footer {
    width: 100%;
  }

}
@media (min-width: 769px ) {
  nav, footer {
    width: 220px;
    position: fixed;
  }

}

.container {
  max-width: 100%;
  height: 98vh;
  padding: 1vh;
}

.content {
  max-width: 640px; /* adjust when you figure out what to put on the home page */
  top: 0;
  float: none;
  margin: 0 auto;
}
.posts li a {	/* Blog Archive Page */
	font-weight: bold;
	padding-bottom: 1em;
	color: #222;
}

.post-content {
   max-width: 640px;
}

nav ul, footer ul {
    padding: 0 0 0 1em;
}
nav ul li {
  margin-top: 10px;
}
footer ul li {
  display: inline;
}
nav {
  top: 10px;
  left: 10px;
  padding: 0;
  border: 0;
  margin: 0;
  clear: right;
}
footer {
  bottom: 10px;
  left: 10px;
  border: 0;
  margin: 0;
  padding: 0;
}
