/* Reset */

html {
    font-size: 100%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

}
* {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
}
ul {
    list-style: none;
}
ol {
    line-height: 1.6em;
}
nav, footer, ul, li {
    padding: 0;
    margin: 0;
    border: 0;
}
footer ul li {
    display: inline-block;
  }

blockquote, q {
    quotes: none;
    font-size: 18px;
    line-height: 1.6em;
    font-style: italic;
    font-weight: bold;
}
blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}
h1 {
    font-size: 32px;
}
h2 {
    font-size: 24px;
}
h3 {
    font-size: 18px;
}
h4 {
    font-size: 16px;
}
h5 {
    font-size: 14px;
}
h6 {
    font-size: 12px;
}
p {
    font-size: 16px;
    line-height: 1.6em;
    color: #222;
}
a {
    text-decoration: none;
    color: #444;
}
a:hover {
    color: #666;
}
p a {
    color: lightblue;
}

/* main page container */
.container {
    max-width: 100%;
    height: 98vh;
    margin: 1vh;
}

/* media queries */
@media (max-width: 849px) {
    nav {
        width: 100%;
        position: fixed;
        background-color: white;
        z-index: 3;
        top: 0;
        left: 0;
    }
    nav li a {
        border-bottom: 1px solid #f1f1f1;
        padding: 1em;
    }

    nav li:hover {
        background-color: #f1f1f1;
    }
    .content {
        max-width: 100%;
        z-index: 0;
        position: relative;
        float: none;
        top: 13em;
    }

    footer {
      width: 100%;
      position: fixed;
      background-color: white;
      z-index: 3;
      bottom: 0;
      left: 0;
      border-top: 1px solid #f1f1f1;
    }
    footer li {
      padding: 1em;

    }
}
@media (min-width: 850px) {
    nav, footer {
        width: 210px;
        position: fixed;
        padding: 1em;
    }
    nav li {
      margin-bottom: 1em;
    }

    .content {
        max-width: 640px;
        padding: 1em;
        float: none;
        margin: 0 auto;
    }
    footer {
        bottom: 1em;
        left: 1em;
    }
}

/* Blog Archive Page */
.posts li {
    padding: 0 0 4em 0;
    /* space between posts on blog archive page */
}
.posts li:last-of-type {
    padding: 0 0 1em 0;
}
.post-date {
    color: lightblue;
    text-transform: uppercase;
    font-size: 12px;
}
.post .post-date:hover {
    color: lightblue;
    cursor: default;
}
.post {
    /* class for the posts page between posts on blog archive page */
}
.post-title {
    color: #444;
    margin: 0;
    padding: 5px 0 3px;
    border: 0;
}
.post-title:hover {
    color: #999;
}
.post .post-title:hover {
    color: #444;
    cursor: default;
}
.underline-link {
    border-bottom: 2px solid #777;
    margin-bottom: 5px;
}
.underline-link:hover {
    border-bottom: 2px solid #999;
}
