/* Reset */
html {
  font-size: 100%;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
	padding: 0;
	margin: 0;
}
li {
	padding: 0;
	margin: 0;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

* {
   -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/* media queries */
@media (max-width: 768px) {
  nav, footer {
    width: 100%;
  }

}
@media (min-width: 769px ) {
  nav, footer {
    width: 220px;
    position: fixed;
  }

}
a {
  text-decoration: none;
  color: #555;
}

.container {
  max-width: 100%;
  height: 98vh;
  padding: 1vh;
}

.content {
  max-width: 640px;
  top: 0;
  float: none;
  margin: 0 auto;
 
}
.post-content {
   max-width: 640px;
}
.post-content p {
  font-size: 16px;
  font-family: "Georgia", "Serif";
  line-height: 1.5em;
  color: #333;
}
.post-title {
  font-size: 24px;
  color: #333;
}
.post-date, .post-words {
	font-size: 14px;
	font-weight: normal;
	color: #444;
}

nav ul, footer ul {
    padding: 0 0 0 1em;
}
nav ul li {
  margin-top: 10px;
}
footer ul li {
  display: inline;
}
nav {
  top: 10px;
  left: 10px;
  padding: 0;
  border: 0;
  margin: 0;
  clear: right;
}
footer {
  bottom: 10px;
  left: 10px;
  border: 0;
  margin: 0;
  padding: 0;
}
